<% if current_user %>
  <%= link_to "Sign Out", logout_path %>
<% end %>

<h1>Add a New Link:</h1></br>
<%= form_for(Link.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit 'Submit Link' %>
<% end %></br>

<div class="searching">
  Search for Links:<input class="nav-right" type="text" placeholder="Search" required id="search-bar">
</div>

  <%= render 'filter_selection' %>

<h1>My Links</h1></br>

<table class="every-link">
  <tr class="table-row">

    <th><u>Title</u></th>
    <th><u>Link</u></th>
    <th><u>Read?</u></th>
  </tr>

  <% @links.each do |link| %>
    <% if link.read %>
      <tbody class="all-links">

        <tr data-id='<%= link.id %>' class='unread-link'>
          <td class="title-text" ><%= link.title %></td>
          <td class="url-text" id="read-links"><%= link.url %></td>
          <td class="read-text"><%= link.read %></td>
          <td><input type="button" value="Mark as Unread" class="mark-unread" ></td><br>
          <td><%= button_to "Edit Link", edit_link_path(link), method: :get%></td>
        <tr>
      </tbody>
    <% else %>
      <tbody class="all-links" id="unreadme">
        <tr data-id='<%= link.id %>' class='read-link'>

          <td class="title-text" ><%= link.title %></td>
          <td class="url-text" id="unread-links" ><%= link_to link.url, link.url %></td>
          <td class="read-text" ><%= link.read %></td>
          <td><input type="button" value="Mark as Read" class="mark-read" ></td><br>
          <td><%= button_to "Edit Link", edit_link_path(link), method: :get %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
