<nav>
  <ul>
    <li>Welcome, <%= current_user.email %></li>
    <% if current_user %>
    <li> <%= link_to "Sign Out", logout_path, method: :delete  %></li>
    <% end %>
  </ul>
</nav>

<h3>Submit a New Link</h3>
<%= form_for (Link.new) do |f| %>
<%= f.text_field :title, placeholder: 'Title' %>
<%= f.text_field :url, placeholder: 'URL' %>
<%= f.submit 'Submit Link' %>
<% end %>

<h3>My Links<h3>
  <table>
    <tr>
      <% @links.each do |link| %>

      <th><u>Title</u></th>
      <th><u>Link</u></th>
      <% if link.read == false %>
      <th><u>Mark As Read</u></th>
      <% else %>
      <th><u>Mark As Unread</u></th>
      <% end %>
    </tr>

    <tbody class="all-links">

      <tr data-id='<%= link.id %>' class='link'>
        <td contenteditable="true" class="title"><%= link.title %></td>
        <td contenteditable="true" class="url"><%= link.url %></td>
        <% if link.read == false %>
        <td><input type="checkbox" class="read-link"></td>
        <% else %>
        <td><input type="checkbox" class="unread-link"></td>
        <% end %>
        <td><%= button_to "Edit Link", edit_link_path(link), method: :get %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
