<% if current_user %>
  <%= link_to "Sign Out", logout_path %>
<% end %>

<h1>Add a New Link:</h1></br>
<%= form_for(Link.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>

<h1>My Links</h1></br>
<h2>Filter by read/unread</h2>

<form action="">

  <input type="radio" name="filter" class="read"> Read<br>
  <input type="radio" name="filter" class="unread"> Unread<br>
</form></br>
<table>
  <tr>

    <th><u>Title</u></th>
    <th><u>Link</u></th>
    <th><u>Read?</u></th>
    <th><u>Mark As Read</u></th>
    <th><u>Mark As Unread</u></th>
  </tr>
  <% @links.each do |link| %>

  <tbody class="each-link">

    <tr data-id='<%= link.id %>' class='link'>
      <td class="title-text"><%= link.title %></td>
      <td class="url-text"><%= link.url %></td>
      <td class="read-text"><%= link.read %></td>


      <td><input type="checkbox" class="read-link"></td>
      <td><input type="checkbox" class="unread-link"></td>
      <td><%= button_to "Edit Link", edit_link_path(link), method: :get %></td>
    </tr>
    <% end %>
</tbody>
</table>
